- var socials = ['tripadvisor', 'inst', 'vk', 'fb', 'telegram'];

mixin social
  ul.social&attributes(attributes)
    each name in socials
      li(class=`social-li--${name}`)
        a.u-center(href="#" target="_blank"): +svg(name)
    if block
      block