mixin btn(text = 'Кнопка', options = { link: false, expand: false })
  - var tag = options.link ? 'a' : 'button'

  #{tag}(class="btn" class={'btn--expand': options.expand})&attributes(attributes)
    span.btn__bg
    span.btn__text= text
    if options.expand
      +svg('plus').btn__plus

