include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/review-rates/review-rates-modal.pug
include ../blocks/sights/sights.pug
include ../blocks/gallery-modal/gallery-modal.pug
