include ../blocks/svg/svg.pug
include ../blocks/button/button.pug
include ../blocks/arrow-btn/arrow-btn.pug
include ../blocks/modal/modal.pug
include ../blocks/social/social.pug
include ../blocks/slider-nav/slider-nav.pug
include ../blocks/pagen/pagen.pug
include ../blocks/chipbox/chipbox.pug
include ../blocks/input/input.pug
include ../blocks/tip/tip.pug
include ../blocks/burger/burger.pug
