block variables
  -
    var randomMinMax = function(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    };

    var tours = [
      {
        img: 'zinger',
        title: 'Обзорная экскурсия по Петербургу',
        people: '4-20 человек',
        time: '2.5 часа',
        location: 'Невский проспект',
        price: 250
      },
      {
        img: 'tower',
        title: 'Обзорная экскурсия «От мифов к истории»',
        people: '1-20 человек',
        time: '2.5 часа',
        location: 'Невский проспект',
        price: 400
      },
      {
        img: 'vo-church',
        title: 'Экскурсия по Васильевскому острову',
        people: '1-20 человек',
        time: '2 часа',
        location: 'Памятник Василию Корчмину',
        price: 400
      },
      {
        img: 'golden-cat',
        title: 'Детская обзорная экскурсия по Петербургу',
        people: '1-20 человек',
        time: '1.5 часа',
        location: 'Александровская колонна',
        price: 1200
      },
      {
        img: 'pp-church',
        title: 'Индивидуальный тур по Петропавловской крепости',
        people: '1-2 человека',
        time: '2.5 часа',
        location: 'Горьковская, Адмиралтейская',
        price: 5000
      },
      {
        img: 'hotel',
        title: 'Индивидуальная обзорная экскурсия',
        people: '1-2 человека',
        time: '3 часа',
        location: 'По договору',
        price: 1200
      }
    ];

    var navLinks = ['Экскурсии', 'Отзывы', 'Блог', 'FAQ', 'Контакты'];


doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug
  
  body
    include ../templates/blocks.pug
    
    main
      block content

    include ../blocks/footer/footer.pug
