doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug
  
  body
    include ../templates/blocks.pug
    
    main
      block content

    include ../blocks/footer/footer.pug
