mixin slider-tours(title = 'Другие экскурсии, которые вам понравятся')
  section.slider-tours
    .container
      h2.t-h4.slider-tours__title= title
      .js-sb
        ul.slider-tours__list
          each tour in tours
            li
              +tour-li(tour)

