mixin popular-tours
  section.popular-tours
    .popular-tours__container
      .popular-tours__info
        h2.t-h3 Популярные экскурсии
        p Расскажем про все районы города, справимся с детской группой, устроим индивидуальную прогулку. А еще каждая  следующая экскурсия будет стоить на 100 ₽ дешевле.
        +btn('Смотреть все', { link: true })(class="btn--scale" href="#")

      .popular-tours__slider
        .js-sb
          ul.popular-tours__list
            each tour in tours
              li
                +tour-li(tour)

      .popular-tours__btn-mob
        +btn('Смотреть все', { link: true })(class="btn--scale" href="#")

