.tour-page
  padding-top: var(--header-h)
  padding-bottom: 120px
  @media (max-width: $tab)
    padding-bottom: 80px


// Container
.tour-page__container
  display: flex
  align-items: flex-start
  padding-top: 64px

  @media (min-width: $tab + 1)
    padding-bottom: 40px

  @media (max-width: $tab)
    flex-direction: column
    padding-top: 40px


// Left
.tour-page__left,
.tour-page__right
  @media (min-width: $tab + 1)
    position: sticky

  @media (max-width: $tab)
    order: -1

.tour-page__left,
.tour-page__content
  @media (max-width: $tab)
    width: 100%

.tour-page__left
  @media (min-width: $tab + 1)
    top: calc(8px + var(--header-h))
    min-width: mix(4)
    width: mix(4)
    padding-right: gutter-spans(2)

  @media (max-width: $tab)
    margin-bottom: 48px


// Title
.tour-page__title
  margin-bottom: 32px
  @media (max-width: $tab)
    margin-bottom: 24px


// Info list
.tour-page__info-list
  line-height: 1.2

  li
    display: flex
    align-items: flex-start

  li:not(:last-child)
    margin-bottom: 8px

.tour-page__info-icon
  margin-right: 12px
  min-width: 16px
  width: 16px
  height: 16px

.tour-page__info-list .tip
  margin-left: 0.3em


// Content
.tour-page__content
  font-size: 16px

  @media (min-width: $tab + 1)
    min-width: column-spans(4)
    width: column-spans(4)

  @media (max-width: $tab)
    padding-top: 64px

.tour-page__content h2
  margin-bottom: 32px
  @media (max-width: $tab)
    margin-bottom: 40px

  + .tour-page__info-list
    @media (max-width: $tab)
      display: none

.tour-page__content-inner
  margin-bottom: 48px
  letter-spacing: -0.02em

  @media (max-width: $tab)
    margin-bottom: 64px

  b
    +mont(sb)

  p:not(:last-child)
    margin-bottom: 24px


// Right
.tour-page__right
  background: $beige-d

  @media (min-width: $tab + 1)
    min-width: mix(3)
    width: mix(3)
    margin-left: auto

    top: calc(64px + var(--header-h))
    transform: translateY(-64px)

  @media (max-width: $tab)
    width: 100vw
    margin-left: minus($unit)
    

// Dates
.tour-page__roadmap,
.tour-page__dates-list
  margin-bottom: 64px

.tour-page__dates-list
  display: flex

  margin-left: -8px
  margin-top: -8px

  @media (max-width: 1540px)
    flex-wrap: wrap

.tour-page__dates-list > li
  margin-left: 8px
  margin-top: 8px
  width: calc(25% - 8px)

  @media (min-width: $tab + 1) and (max-width: 1540px)
    width: calc(33.3333% - 8px)

  @media (max-width: $tab)
    width: calc(50% - 8px)

// Map
.tour-page__map
  margin-left: auto
  margin-right: auto

  @media (min-width: $tab + 1)
    margin-top: 40px
    width: column-spans(6)

  &::before
    content: ''
    display: block
    width: 100%
    padding-bottom: 56.25%

    @media (max-width: $tab)
      padding-bottom: 72vh

  > ymaps
    position: absolute
    top: 0
    left: 0
