mixin review-rates
  ul.review-rates
    li.review-rates__li
      img(src="assets/img/reviews/trip.png" alt="Tripadvisor")
      .review-rates__row
        b 4.9
        +svg('star')
        p 68 отзывов
    li.review-rates__li
      img(src="assets/img/reviews/air.png" alt="Airbnb")
      .review-rates__row
        b 4.8
        +svg('star')
        p 123 отзыва
    li.review-rates__li
      img(src="assets/img/reviews/ster.png" alt="Tripster")
      .review-rates__row
        b 4.8
        +svg('star')
        p 218 отзывов

