mixin faq-list
  ul.accordion-container.accordion-container--bg.js-accordion
    +accordion-item('Мне обязательно нужно бронировать экскурсию?')
      p Наш гид придет на место встречи, даже если нет ни одной брони. Но, согласитесь, приятней идти на любимую работу, если точно знаешь, что тебя там ждут. Бронирование полезно вам, потому что вы получаете подробную инструкцию, как добраться до места встречи и карту с геометкой.
      p Нам бронирования помогают выбрать оптимальное число гидов на тур, чтобы в одной группе было не более 20 человек.
    +accordion-item('Вы проводите экскурсии в любую погоду?')
      p Мы, как настоящие петербуржцы, ведем экскурсии и в дождь, и в снег, и в ветер. В случае плохой погоды для удобства туристов мы чаще заходим в помещения, предлагаем выпить недорогого и вкусного кофе/глинтвейна.
    +accordion-item('Я забронировал экскурсию, но не оплатил. Что мне делать?')
      p Вам не нужно оплачивать тур заранее, вы сможете это сделать перед экскурсией непосредственно нашему гиду. Оплата наличными.
    +accordion-item('Сколько человек должно забронировать тур, чтобы он состоялся?')
      p Мы проводим экскурсию даже для одного человека. При этом гид придет на место встречи, даже если никто не забронировал тур.
    +accordion-item('Нужно ли распечатывать письмо-подтверждение?')
      p Вы можете распечатать письмо для вашего удобства – там будет подробная инструкция, как добраться до места встречи. Нам будет достаточно, если вы назовете гиду ваше имя.
    +accordion-item('Можно ли прийти на экскурсию с ребенком? Сколько стоит детский билет?')
      p Все наши гиды обучены работе с детьми, поэтому экскурсия понравится и самым маленьким туристам. Мы советуем посещать экскурсии детям от 8 лет. Детям до 3 лет билет не нужен. Для детей до 18 лет действует скидка 50% на все билеты (возьмите с собой удостоверение личности ребенка).
    +accordion-item('Нужна ли специальная обувь для прогулки? Тяжела ли нагрузка во время экскурсии?')
      p Все экскурсии проходят в спокойном темпе и не требуют специальной подготовки. Наш гид всегда учитывает индивидуальные особенности туристов.
    +accordion-item('Я опаздываю, что делать?')
      p Мы начинаем экскурсию ровно в указанное время, но находимся в районе места встречи еще примерно 20 минут, чтобы все смогли к нам присоединиться. Ориентируйтесь на бело-зеленый зонтик с фирменным логотипом. Если вы опаздываете больше, чем на 20 минут, позвоните нам по телефону +7(812)565-35-41, мы что-нибудь придумаем!
