extends ../templates/template.pug
block content
  article.article-page
    .container
      .article-head
        h1.article-title Одеваться как петербуржец. Что нужно знать о северной зиме и весне
        a(href="#").btn-outline Категория

      .article-hero
        img(src="assets/img/article/hero.jpg" alt="Rainy")
        small.article-img-author ©Mike Brown

      .article-container
        aside.article-aside
          .article-author
            b Денис Гаспаров
            p Историк

          p.article-date.t-ttu 16 сентября 2019

          .article-social
            +social

        section.article-content
          p Петербургский климат сильно отличается от условий в других регионах России и мира. Близость Финского залива сделала воздух Питера очень влажным и холодным. А статус “самого северного города-миллионника в мире” имеет и обратную сторону – погода здесь и правда холодная примерно 8 месяцев в году. Мы расскажем, как не замерзнуть и не ослепнуть, гуляя по прекрасному Петербургу. В этой записи мы дадим универсальные советы, а также подскажем, как одеваться зимой и весной.

          h2 Универсальные советы как одеваться в Петербурге

          ol
            li
              b Одеваться «ЛУКОВКОЙ». 
                | На майку / футболку надевайте бадлон, на бадлон – джемпер. Такая же история с нижней частью гардероба – на колготки / термобелье – джинсы / брюки и носки. Если погода наладится, и вам станет жарко, достаточно просто снять один из элементов гардероба.
            li
              b Всегда, слышите, ВСЕГДА имейте при себе шарф. 
              | Даже в самую жаркую погоду непривычное горло может возмутиться от влажного воздуха. Поэтому даже легкий шифоновый шарфик может спасти вам отдых.
            li
              b Не верьте термометрам. 
              | В Санкт-Петербурге “официальная” температура и реальные ощущения могут отличаться аж на 15 градусов. И это не шутки. Помните непонятную функцию в определителях погоды “ощущается как…”? Так вот в Петербурге тот электронный герой, который за вас определяет, как ощущается температура воздуха, – настоящий спаситель. Ориентируйтесь на параметр “Ощущается как”, а не на градусник.
            li 
              b Зонт. 
              | Всегда имейте при себе зонт или дождевик. Поверьте, никто не сможет предсказать, в какой момент польет как из ведра. Перемена погоды может произойти за 10 минут. Даже самым ясным утром берите с собой зонтик или дождевик. На наших обзорных экскурсиях мы всегда предлагаем приобрести дождевики у гидов за дополнительную плату.
            li 
              b Водонепроницаемая обувь. 
              | Всегда, слышите, всегда будьте готовы к влаге на дорогах. Это может быть дождь, слякоть, снег или просто каша. Поэтому всегда берите очень качественную водонепроницаемую обувь.

          h2 Зима в Санкт-Петербурге

          p Однажды к нам на Обзорную экскурсию пришел гость из Якутии. В конце тура он признался, что никогда не испытывал такого холода, как в Санкт-Петербурге. Несмотря на порой не пугающие температуры – в среднем минус 9 градусов – влажность делает нахождение на улице тяжелым испытанием. Очень часто влажность воздуха достигает 90%, получается, что вы буквально вдыхаете лед.

          .article-img
            img(src="assets/img/article/1.jpg" alt="")
            small.article-img-author ©Mike Brown

          ul
            li
              b Шапка. 
              | Да-да, как ни странно, но многие считают, что можно приехать в Петербург и просто накинуть на голову капюшон. Влажный воздух без труда заберется под куртку и не спасет ваши уши от отита.
            li
              b Перчатки / варежки. 
              | Цыпки – самый страшный зимний бич всех женских ручек. Как бы вы ни мазались питательными кремами, только плотная ткань или кожа защитят вас от раздражений на коже.

            li
              b Шубы не желательны. 
              | Просто потому, что в середине холодного февраля вдруг может пойти дождь, а через минуту капли замерзнут. И ваша одежда по тяжести сравнится с кольчугой.

            li
              b Обувь с шипами. 
              | Или любая другая устойчивая обувь. В Петербурге часты гололеды, дворники не успевают убирать наледи, и велик шанс подскользнуться.

          h2 Когда приходит весна
          p Самое коварное время года. Вы-то ждете дуновение легкого весеннего ветерка, нежные зеленые почки и прогулки целый день. Реальность сурова. Вас ждут оглушительные ветра с Финского залива, страшный холод, заморозки и полное несовпадение показаний термометра и реальных ощущений.

          .article-img
            img(src="assets/img/article/2.jpg" alt="")
            small.article-img-author ©Mike Brown

          ul
            li
              b Не верьте термометру. 
              | В Петербурге вообще на него редко полагаются, но весна – особый случай. Это период, когда термометр может показать вам + 10, но после выхода на улицу вам покажется, что сейчас – 5.
            li
              b Солнце лжет. 
              | Поздняя весна в Петербурге часто ласкает первым северным солнышком. Вам  сразу становится жарко и хочется снять ненавистную куртку. Но если вы посмотрите по сторонам, то увидите закутанных в шарфы и куртки местных жителей. И они не спешат распрощаться с защитой. По нашей статистике, каждый второй турист в мае заболевает, решив снять “лишнюю” одежду в солнечную погоду. Не поддавайтесь на соблазн и лучше, следуя принципу “луковички”, снимите джемпер или бадлон. Но шарф и куртку оставьте – они спасут вас от простуды.

          .article-recap
            p 
              b Мы рассказали 
              | вам про то, как одеваться в Петербурге зимой и весной. А также поделились универсальными советами по тому, как носить одежду в нашем северном городе. В следующей записи мы расскажем про коварство лета и обреченность осени в Санкт-Петербурге.
            +svg('umbrella')
