extends ../templates/template.pug
block content
  section.hero
    .hero__bg.img
      img.img__i(src="assets/img/hero.jpg")
      img.img__i(src="assets/img/article/hero.jpg")
      img.img__i(src="assets/img/contacts.jpg")
      img.img__i(src="assets/img/gallery/0.jpg")
    
    .hero__text
      .container
        .hero__chipbox-list
          +chipbox('Санкт-Петербург').chipbox--white.active
          +chipbox('Таллин').chipbox--white
        h1.t-h1 Пешеходные туры по Санкт-Петербургу
        p Не просто рассказываем заученные тексты, а делимся знаниями и любовью к родному городу

  +popular-tours

  section.how-title-section.rail.js-rail
    .rail__container
      .rail__track-container
        ul.rail__track
          li
            p.how-title Как работает Пешеход Тур

  section.features-section
    .container
      .features-section__inner
        .feature-section__img
          .feature-section__cover
          .feature-img: img(src="assets/img/feature-img.jpg" alt="")

        -
          var features = [
            {
              img: 'umbrella.svg',
              title: 'Лучшие гиды',
              text: 'Наши гиды – это не только интересные экскурсоводы, но и профессиональные историки, музеологи, искусствоведы, культурологи и даже дирижёры! Каждый из них покажет свой Петербург'
            },
            {
              img: 'cup.png',
              title: 'Практичные советы',
              text: 'Мы знаем, как быстро попасть в Эрмитаж, в какой театр сходить, где вкусно и недорого поесть, как найти аутентичные  места и где вечером по-настоящему жарко. Этими тайными знаниями мы поделимся с вами! '
            },
            {
              img: 'compas.png',
              title: 'Нестандартные маршруты',
              text: 'Мы проведем вас тайными тропами  коренных петербуржцев, покажем не только открыточные, но и малоизвестные достопримечательности и расскажем их историю. '
            }
          ];

        ul.features-list
          each ft in features
            li
              .feature
                .feature__icon.u-center: img(src=`assets/img/features/${ft.img}` alt=ft.img)
                .feature__info
                  h3.t-h5.feature__title= ft.title
                  p= ft.text

  +reviews-slider

  section.about-section
    .container
      .about-section__first-img
        img(src="assets/img/about/1.jpg" alt="")
      .about-section__info
        .about-section__text
          p
            b Проведем экскурсию 
            | даже если вы единственный слушатель. И не бойтесь погоды: в дождь прячемся под зеленые зонтики, а зимой берем вкусный кофе и горячий шоколад
          +btn('Выбрать экскурсию')
        .about-section__text-img
          img(src="assets/img/about/2.jpg" alt="")
          img(src="assets/img/about/3.jpg" alt="")
      .about-section__last-img
        div
          img(src="assets/img/about/4.jpg" alt="")
          img(src="assets/img/about/5.jpg" alt="")
        img(src="assets/img/about/6.jpg" alt="")

  section.faq-section
    .container
      h2.t-h3.faq-section__title Вопросы и ответы
      .faq-section__content
        +faq-list

  +inst