extends ../templates/template.pug
block content
  -
    var reviews = [
      {
        avatar: '1',
        name: 'taisiia78',
        stars: randomMinMax(3, 5),
        date: '15 октября 2019',
        text: 'Очень хорошие прогулки по Питеру! Мы были на экскурсии "С материка на Ваську!" И " от мифов к истории ", остались очень довольны! Спасибо классным гидам, не только профессионалам, но просто очень теплым и весёлым людям, и всей команде за то, что влюбляете в Петербург гостей города! Удачи, ждём новых прогулок'
      },
      {
        avatar: '2',
        name: 'alexandrasReisen',
        stars: randomMinMax(3, 5),
        date: '14 октября 2019',
        text: 'Совершенно спонтанно решили прогуляться с "Пешеходом", как петербуржцы, и были счастливы. И прогулка прошла интерактивно, расслабленно, с юмором. Елена рассказывала интересные истории, обращала внимание на едва заметные детали. Покушали вкуснейшие пончики и получили советы на дальнейшие самостоятельные прогулки. Так были довольны, что на следующий день записались на другую экскурсию "от мифов к истории". И снова счастливое решение, потому что мы получили индивидуальную экскурсию по цене групповой. Если коротко об экскурсоводе - элегантный, интеллигентный Егор с замечательным чувством юмора. Подача информации очень профессиональна (шутки, интрига, загадки) и ни намека на "заезженность". Спасибо огромное команде "Пешеход-Тур". Стоит ли говорить, с кем мы пойдем гулять в следующий  раз?))'
      },

      {
        avatar: '3',
        name: 'Tanya B',
        stars: randomMinMax(3, 5),
        date: '3 сентября 2019',
        text: 'Мои впечатления от поездки оказались незабываемыми... Одним из приятных моментов была экскурсия по историческим местам Санкт-Петербурга, на которой Лена(гид) захватывающе осветила "уголки" города. Спасибо ей за это, потому что благодаря ей, мой интерес не угас.'
      },
      {
        avatar: '4',
        name: 'Tanya B',
        stars: randomMinMax(3, 5),
        date: '1 июня 2019',
        text: 'Впервые, за долгое время, поменяла мнение об экскурсиях..Это для меня новый, современный подход, интересная подача, совершенно не скучно и нет мыслей ,,поскорее бы это закончилось,,!) Очень динамично, с долькой юмора, мы передвигались к каждому объекту. И хочу выразить огромную благодарность - Елене, что благодаря ей, я подпиталась новыми знаниями и хочется дальше узнавать историю Петербурга! Обязательно приеду еще на другие ваши экскурсии!'
      },
      {
        avatar: 'airbnb',
        name: 'maryspb17',
        stars: randomMinMax(3, 5),
        date: '20 сентября 2018',
        text: 'Были с подругой на экскурсии «От мифов к истории СПб». Очень понравился рассказ гида Анастасии. Несмотря на непогоду провела нас по всем местам. Очень душевное отношение к слушателем. Ответила на все наши вопросы)) Спасибо!'
      },
      {
        avatar: 'tripadvisor',
        name: 'sirok88',
        stars: randomMinMax(3, 5),
        date: '20 сентября 2018',
        text: 'Давно хотела попасть на эту пешеходную экскурсию. Наконец звезды сошлись и я оказалась в Питере. На улице было достаточно прохладно, но это никак не повлияло на отличное настроение которое задавал наш гид. Переходили от одной интересной истории к другой очень профессионально) Конечно по ходу рассказа возникали вопросы, но наш гид с легкостью ответил на все) А когда мы немного подмерзли забежали в легендарную пышечную) и продолжили тур) Огромное спасибо ребятам придумавшим этот маршрут) Мы отлично провели время и узнали много нового и интересного) А главное,понравилась легкая и непринужденная подача информации) С нетерпением ждем новых маршрутов)'
      }
    ];

  section.reviews-section
    .container
      .reviews-container
        .reviews-left
          h1.reviews-title Отзывы
          .reviews-controls
            .select-text
              +svg('chevron')
              select
                option(value="" disabled selected hidden) Тип экскурсии
                option(value="all") Все
                option(value="group") Групповые
                option(value="individual") Индивидуальные

            button.reviews-link.t-ttu(type="button" data-modal-open="review-rates")
              | Смотреть отзывы
              +svg('chevron')

        .reviews-content
          ul.reviews-list
            each review in reviews
              li: +review-li(review)

          .reviews-pagen
            +pagen(4)

        .reviews-right
          +review-rates

  +slider-tours('Время выбирать свое приключение')
