extends ../templates/template.pug
block content
  -
    var roadmap = [
      'Памятник Василию Корчмину (да, это он придумал название острову)',
      'Памятник Конке',
      'Проходные дворы',
      'Церковь святой великомученницы Екатерины с одним из ангелов-хранителей Петербурга',
      'Готическая лютеранская церковь святой Екатерины',
      'Самая маленькая площадь России',
      'Самая узкая улица Петербурга',
      'Самый угрюмый двор-колодец, где снимали фильм «Брат»',
      'Университетский квартал',
      'Квартал купцов Елисеевых',
      'Санкт-Петербургский государственный университет',
      'Первая главная площадь страны',
      'Первый Гостиный двор',
      'Кунсткамера',
      'Статуи с острова Пасхи',
      'Роддом с оргАном',
      'Здание Биржи',
      'Стрелка Васильевского острова'
    ];

  .tour-page
    section.gallery-section
      .container
        .gallery-section__inner
          button.img.gallery-section__cell.gallery-section__cell--hero
            img.img__i(src=`assets/img/gallery/0.jpg`)
            +svg('arrow')
          
          .gallery-section__list
            - for (var x = 1; x < 7; x++)
              button.img.gallery-section__cell
                img.img__i(src=`assets/img/gallery/${x}.jpg`)
                +svg('arrow')

    .container
      .tour-page__container
        .tour-page__left
          h1.tour-page__title.t-h3 Экскурсия по Васильевскому острову
          ul.tour-page__info-list
            li
              +svg('people').tour-page__info-icon
              p 1-20 человек
              +tip
                p На самом деле, можно и больше. Просто напишите нам на почту и мы предложим классный тур для большой компании
                a(href="mailto:peshehodtour@yandex.ru") peshehodtour@yandex.ru 
            li
              +svg('clock').tour-page__info-icon
              p 2 часа
            li
              +svg('pin').tour-page__info-icon
              p Памятник Василию Корчмину

        .tour-page__content
          .tour-page__content-inner
            p
              b Василеостровский 
              | — пожалуй, самый странный спальный район. Ведь он строился как центр новой столицы, первый в Петербурге был обрамлен гранитом, принял дворцы новой знати и…должен был стать полностью водоходным. Вместо улиц Васьки Петр планировал сделать каналы как в своем любимом Амстердаме.

            p Прогуливаясь по пешеходным ныне линиям – бывшим каналам, пробираясь в разношерстные проходные дворы, мы узнаем, почему уже к XVIII веку Васильевский остров превратился в место обитания торговцев, профессуры и иностранцев и стал первым районом разрастающейся столицы.

            p Шаг за шагом, отдаляясь от шумных улиц, мы откроем разные эпохи жизни Васильевского острова, от петровской эпохи до страшной Блокады. Мы исследуем доходные дома, готические церкви, найдем самую маленькую площадь России и самую узкую улицу Питера.

          h2.t-h5 Что увидим

          .tour-page__roadmap
            .roadmap
              .roadmap__title.roadmap__title--desktop
                +tip-btn
                b Наведите курсор на заголовок, чтобы увидеть фото
              .roadmap__title.roadmap__title--mob
                +tip-btn
                b Нажмите курсор на заголовок, чтобы увидеть фото

              ul.roadmap__list
                each t in roadmap
                  li
                    button.roadmap__btn.js-sights= t
                      span.roadmap__btn-icon
                      img.roadmap__img(src=`assets/img/gallery/${randomMinMax(0,7)}.jpg`)
        
          h2.t-h5 Ближайшие даты
          ul.tour-page__dates-list
            - for (var x = 0; x < 4; x++)
              li: +action-box

          h2.t-h5 Место встречи
          ul.tour-page__info-list
            li
              +svg('pin').tour-page__info-icon
              p Памятник Василию Корчмину

        .tour-page__right
          +form-order

      .tour-page__map.img
        script(type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abfc0ed02290ff01466d06eb5b401bc61717966fdd5ae0bcd3ca2bdbcb5969c61&width=100%25&height=100%&lang=ru_RU&scroll=true")


  +reviews-slider

  +slider-tours
