extends ../templates/template.pug
block content
  .tour-page
    section.gallery-section
      .container
        .gallery-section__inner
          button.img.gallery-section__cell.gallery-section__cell--hero
            img.img__i(src=`assets/img/gallery/0.jpg`)
            +svg('arrow')
          
          .gallery-section__list
            - for (var x = 1; x < 7; x++)
              button.img.gallery-section__cell
                img.img__i(src=`assets/img/gallery/${x}.jpg`)
                +svg('arrow')
                



  +reviews-slider

  +slider-tours
