+modal('sights', 'bottom')
  .sights
    .sights__img.img
      img.img__i(src="" alt="")
      .sights__counter.u-center

    p.sights__text Санкт-Петербургский государственный университет
    .sights__nav
      +slider-nav('js-sights-prev', 'js-sights-next') 
