header.header
  .container
    .header__inner
      .header__logo-wrap
        a.header__logo.u-center(href="./index.html"): +svg('logo')
        .select-text
          +svg('chevron')
          select
            option(value="spb" selected) Санкт-Петербург
            option(value="tallin") Таллин
      nav.header__nav
        ul
          each link in ['Экскурсии', 'Отзывы', 'Блог', 'Вопросы и ответы', 'Контакты']
            li: a.t-ttu(href="#")= link
      
      .header__contact
        a(href="tel:+278125653541") +7 (812) 565-35-41
        button Заказать звонок

      .header__social
        +social
      +btn('Купить билет').btn--pulse
      +burger
      

      

